@import '../../../theme/utilities/mixins';

:host {
	&.no-hr{
		hr{
			display: none;
		}
	}
}

.want-more-cta {
	padding: 15px 0px 25px 0px;

	hr{
		margin: 33px 0px 55px 0px;
		left: 0;
		right: 0;
	}

	.want-more-cta-btn{
		display: block;
		width: 100%;
		text-align: center;
		background-color: transparent;
		margin-bottom: 15px;
		img {
			max-width: 170px;
		}
	}
	p {
		text-align: center;
		color: var(--ion-color-tertiary);
		font-size: 12.1px;
		margin: 0;
		strong {
			display: inline;
		}

		a{
			color: var(--ion-color-tertiary);
			text-decoration: underline;
			font-weight: bold;
		}
	}

	.button-wrapper {
		padding-left: 3px;
		display: block;
		align-items: center;
		justify-content: center;

		img {
			width: 100%;
			height: 28px;
			margin-top: 25px;
			transform: rotate(-180deg);
		}
	}

}

