@import "../../../theme/utilities/mixins";

:host {
	align-items: center;
	background: var(--ion-color-tertiary);
	color: var(--ion-color-secondary);
	font-weight: bold;
	border-radius: 30px;
	display: flex;
	font-size: 14.65px;
	justify-content: center;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	cursor: pointer;
	max-width: 234px;
	font-size: 16px;
	height: 46px;
}
