<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473551803959-palgcrn2naio240o678na71t8bfk37gb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473551803959-palgcrn2naio240o678na71t8bfk37gb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>473551803959-k78nkd3asmbji4a5qn27i9dn3j6m1joc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4TbeoFq5UTOorgqTZ2r4oWCoJZJurXZg</string>
	<key>GCM_SENDER_ID</key>
	<string>473551803959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>life.ply.app</string>
	<key>PROJECT_ID</key>
	<string>ply-app-307211</string>
	<key>STORAGE_BUCKET</key>
	<string>ply-app-307211.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473551803959:ios:ae72f484ba6d33615891b2</string>
	<key>DATABASE_URL</key>
	<string>https://ply-app-307211-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>