@import '../../../theme/utilities/mixins';

:host {
	ion-content {
		--offset-top: 10px !important;
    	--keyboard-offset: 10px !important;
    	--offset-bottom: 10px !important;
		--background: var(--ion-color-secondary) !important;
	}
	form {
		margin-top: 40px;
		display: flex;
		flex-direction: column;
		height: 100%;
		.form-submit {
			margin-top: 34px;
			button {
				img {
					height: 25px;
				}
			}
		}

		input::placeholder {
			color:rgba(50, 56, 58, 0.15);
		}
	}
	.cancel-forgot-password {
		a {
			cursor: pointer;
		}
	}
	app-text {
		margin-top: 56px;
		//margin-top: 34px;
		p {
			font-weight: 600;
			margin: 0;
		}
	}
}
