@import '../../../theme/utilities/mixins';

:host {
	ion-content {
		--background: var(--ion-color-secondary) !important;
		.page-title{
			margin-bottom: 20px;
		}
		.content{
			font-size: 13.2px;
			p{
				margin-bottom: 35px;
			}
			.challenge-yourself-image {
				max-width: 75%;
				margin: 40px auto 120px auto;
			}
		}
		.page-footer {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			a {
				font-size: 10px;
				text-decoration: underline;
				color: var(--text-color);
			}
			app-ply-life {
				width: 50%;
			}
		}
	}
}
