@import "../../../theme/utilities/mixins";

:host {
	ion-content {
		--background: var(--ion-color-secondary) !important;
		.page-title {
			margin-bottom: 20px;
		}
		.content {
			font-size: 13.2px;
			color: var(--text-color);
			p {
				margin-bottom: 35px;
				strong {
					display: block;
				}

				&:last-of-type {
					margin-bottom: 0px;
				}
			}
		}
		hr {
			margin: 40px 0px 0 0px;
		}
	}
}
