:host {
	display: block;
	width: calc(100% + 32px);
	margin: 40px auto 0px auto;
	margin-right: -16px;
	margin-left: -16px;
	padding: 0px 16px;

	canvas {
		margin: 0 0 30px auto;
		width: 100%;
	}

	.no-data {
		font-size: 12.1px;
		margin-top: 10px;
	}

	.activity-filters {
		margin-bottom: 90px;
		display: flex;
		justify-content: space-between;

		a {
			color: var(--text-color);
			font-size: 11px;
			padding: 0 6px;
			text-decoration: underline;
			&.active {
				font-weight: bold;
			}
		}
	}
}
