.category-slider {
	&-header {
		display: flex;
		flex-direction: row;
		margin-bottom: 6px;
		align-items: center;
		justify-content: space-between;
		&-title {
			margin: 0;
			font-weight: 500;
			font-size: 16.64px;
			color: var(--text-color);
		}
		&-link {
			cursor: pointer;
			a {
				font-weight: 500;
				font-size: 10.71px;
				color: var(--text-color);
				text-decoration: underline;
			}
		}
	}
	&-wrapper {
		width: 104%;
		display: flex;
		flex-wrap: nowrap;
		overflow: scroll;
		margin-right: -16px;
		margin-left: -16px;
		position: relative;
		&::-webkit-scrollbar {
			display: none;
			height: 0;
			width: 0;
		}
	}
	&-overlfow-wrapper {
		padding-left: 32px;
	}
	&-card {
		width: 51.6%;
		flex: 1 0 51.6%;
		background: {
			position: center;
			repeat: no-repeat;
			size: cover;
		}
		position: relative;
		margin-left: 20px;
		text-decoration: none;
		&:first-child {
			margin-left: 16px;
		}
		&-image {
			border-top-right-radius: 6px;
			border-top-left-radius: 6px;
			padding-bottom: 57.5%;
			background-position: center;
			background-size: cover;
		}
		&-content {
			background-color: var(--ion-color-tertiary);
			border-bottom-right-radius: 6px;
			border-bottom-left-radius: 6px;
			display: flex;
			flex-direction: column;
			padding: 14px;
			justify-content: center;
			min-height: 44px;
			&-title {
				font-weight: bold;
				font-size: 11.25px;
				//font-size: convert(7.02pt);
				margin: 0 0 6px 0;
			}
			&-subtitle {
				font-weight: 500;
				font-size: convert(5.56pt);
				margin: 0;
				width: 100%;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				display: block;
				line-height: 1;
				strong {
					padding-right: 3px;
				}
			}
		}
	}
	.spacer {
		flex: 1 0 5px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		margin-left: 20px;
		text-decoration: none;
	}
}
