@import "../../../theme/utilities/mixins";

:host {
	.page {
		height: unset;
	}

	.page-subtitle {
		font-size: 12.1px;
		margin-top: 10px;
	}
	form {
		margin-top: 40px;
		margin-left: -10px;
		flex-grow: 1;
		.form-group {
			.form-message {
				margin: -13px 0 0 0;
			}
		}
		hr {
			margin: 20px 0;
		}
		select {
			&.placeholder {
				color: rgba(50, 56, 58, 0.15);
			}
			option:disabled {
				display: none;
				color: rgba(50, 56, 58, 0.15);
			}
		}

		input[type="number"] {
			min-width: 38px !important;
			max-width: 100% !important;
			transition: width 0.25s;
			padding: 0 2px 0 0;
		}
		input::placeholder {
			color: rgba(50, 56, 58, 0.15);
		}

		.form-submit {
			margin-top: 50px;
			margin-bottom: 49px;
			button {
				padding-left: 12px;
				img {
					height: 25px;
				}
			}
		}
	}
}
